<!-- <center><img src="./assets/images/MusicGuroo.png"></center> -->
<center><%= image_tag "MusicGuroo.png"%></center>

<!-- <ul>
<% Instrument.all.each do |i| %>
  <div><a href="/instruments/<%= i.id %>/lessons"> <img src="<%= i.image_url %>", width="100", height="100"> <%= i.name %> </a></div>
<% end %>
</ul> -->

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
  <div class="wrapper">
    <!-- <div class="col-sm-6 col-md-3"> -->
      <div class="grid">
        <div class="nested">
          <% Instrument.all.each do |i| %>
          <a href="/instruments/<%= i.id %>/lessons">
            <div class="instrument">
                <img src="<%= i.image_url %>", height="100">
                <h4 class="caption"><%= i.name %></h4>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- </div> -->
<!-- </div> -->
