<div class="">
  <h3>Edit Your Profile</h3>
</div>

<div class="">
  <%= form_for current_user do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name%>
    </div>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username%>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
