<h1><%= current_user.name %></h1>

<h2>My Bookings:</h2>

<ul>
  <% current_user.bookings.each do |b| %>
  <li>
  <h3>Lesson: </h3>
  <%= b.lesson.instrument.name %>
  <h3>Teacher: </h3>
  <%= b.teacher.name %>
  <h3>Time: </h3>
  <%= b.time %>
  <h3>Cost:</h3>
  <%= b.lesson.cost %>
  </li>
  <%= button_to 'Delete booking', b, method: :delete %>
  <% end %>
</ul>


<footer>
  <%= link_to 'Edit Profile', edit_student_path(current_user) %>
  <%= link_to 'Delete My Profile',  { action: :destroy, id: current_user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'All Teachers', teachers_path %>
  <%= link_to 'All Lessons', lessons_path %>
</footer>
