<h1>Book A Lesson</h1>
<%# TODO: STYLE BETTER %>
<%= form_for @booking do |f| %>

  <p>NEED TO ASSOCIATE THIS BOOKING WITH LESSON AND STUDENT</p>

  <%= f.label :cost %>
  <%= f.number_field :cost%>

  <%= f.label :time %>
  <%= f.text_area :time%>

  <%= f.submit%>
<% end %>
