<div>
<h2>Lesson details:</h2>
<h3><%= link_to "#{@booking.instrument.name} | #{@booking.lesson.genre} | #{@booking.lesson.difficulty}", @booking.lesson %> with <%= link_to @booking.teacher.name, @booking.teacher %></h3>
<h5><%= @booking.time.strftime("%A, %d %b %Y %l:%M %p") %></h5>
</div>

<div>
<h3>Write A Review For <%= @booking.teacher.name.titleize %>'s <%= @booking.instrument.name.titleize %> Lesson: </h3>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 1, max: 5, value: 5 %><br><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.hidden_field :booking_id, :value => @booking.id %>
  <%= f.submit %>
<% end %>

</div>
