<h1>Your booking</h1>

Student Name: <%= @booking.student.name %><br>
Teacher Name: <%= @booking.teacher.name %><br>
Instrument: <%= @booking.lesson.instrument.name %><br>
Lesson Start Time: <%= @booking.time.strftime("%A, %d %b %Y %l:%M %p") %>

<br>
<br>
<br>

<h3>Write A Review For <%= @booking.teacher.name.titleize %>'s <%= @booking.instrument.name.titleize %> Lesson: </h3>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 1, max: 5, value: 5 %><br><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.hidden_field :booking_id, :value => @booking.id %>
  <%= f.submit %>
<% end %>


<%= link_to 'My profile', student_path(current_user) %>
