<%# TODO: add select-cost to form (and edit relevant schema parts) %>

<h1> Lesson Creation Page</h1>
<ul>
<%= form_for @lesson do |f| %>
  <li><%= f.label :instrument %></li>
  <%= f.collection_select(:instrument_id, Instrument.all, :id, :name) %>

  <li><%= f.label :difficulty %></li>
  <%= f.select(:difficulty, ['beginner', 'intermediate', 'advanced']) %>

  <li><%= f.label :genre %></li>
  <%= f.select(:genre, @lesson.genres) %>

  <%= f.hidden_field :teacher_id, :value => current_user.id %>

  <%= f.submit %>
<% end %>
</ul>
