<h1><%= @lesson.instrument.name%></h1>
<%= @lesson.difficulty %><br>
<%= @lesson.genre %>

<br>

<% if session[:logged_in_teacher_id] %>
  <%= link_to "edit lesson", edit_lesson_path(@lesson) %>
  <%= link_to "back to my profile", teacher_path(current_user.id) %>
<% end %>

<% if session[:logged_in_student_id] %>
<h3>Book this lesson</h3>

  <%= form_for @booking do |f| %>
    <%= f.select :time, @lesson.teacher.available_slots.map { |s| s.strftime("%A, %d %b %Y %l:%M %p") }  %>
    <%= f.hidden_field :lesson_id, :value => @lesson.id %>
    <%= f.hidden_field :student_id, :value => current_user.id %>
    <%= f.submit %>
  <% end %>
<% end %>
