<%= flash[:notice] %>
<h1>Teachers</h1>
<hr>

<% @teachers.each do |t| %>
<h4>Name:</h4>
<%= link_to t.name, t %>
<h4>Bio:</h4>
<%= t.bio %>
<h4>Teaching Philosophy:</h4>
<%= t.philosophy %>
<hr>
<% end %>

<footer>
  <%= link_to 'All Teachers', teachers_path %> |
  <%= link_to 'All Lessons', lessons_path %>
</footer>
