<h1>Teachers</h1>

<%= flash[:notice] %>

<% @teachers.each do |t| %>
<h3>Name:</h3>
<%= link_to t.name, t %>
<h3>Bio:</h3>
<%= t.bio %>
<h3>Teaching Philosophy:</h3>
<%= t.philosophy %>
<% end %>

<footer>
  <%= link_to 'All Teachers', teachers_path %>
  <%= link_to 'All Lessons', lessons_path %>
</footer>
