<%= flash[:notice] %>
<h1>Teachers</h1>
<hr>

<% @teachers.each do |t| %>
<h2><%= link_to t.name, t %></h4>

<p><%= t.bio %></p>

<h5>Philosophy:</h5>
<%= t.philosophy %>
<hr>
<% end %>

<footer>
  <%= link_to 'All Teachers', teachers_path %> |
  <%= link_to 'All Lessons', lessons_path %>
</footer>
