<div class="">
  <h3>Sign up as a teacher</h3>
</div>

<%= form_for @teacher do |f| %>
  <div class="">
    <%= f.label :username %>
    <%= f.text_field :username%>
  </div>
  <div class="">
      <%= f.label :password %>
      <%= f.password_field :password %>
  </div>
  <div class="">
      <%= f.label :name %>
      <%= f.text_field :name%>
  </div>
  <div class="">
      <%= f.label :bio %>
      <%= f.text_area :bio%>
  </div>
  <div class="">
      <%= f.label :philosophy %>
      <%= f.text_area :philosophy%>
  </div>
  <%= f.submit 'Join Now!' %>
<% end %>
