<h1><%= @teacher.name %></h1>

<h2>Bio:</h2>
<p><%= @teacher.bio %></p>

<h2>Philosophy</h2>
<p><%= @teacher.philosophy %></p>

<h2>My Lessons:</h2>

<table>
  <tr>
    <th>Instrument</th>
    <th>Genre</th>
    <th>Difficulty</th>
  </tr>
  <tr>
    <% @teacher.lessons.each do |lesson| %>
      <td><%= link_to lesson.instrument.name, lesson %></td>
      <td><%= lesson.genre.titleize %></td>
      <td><%= lesson.difficulty.titleize %></td>
    <% end %>
  </tr>
</table>


<footer>
  <%= link_to 'Edit Profile', edit_teacher_path(current_user) %>
  <%= link_to 'Delete My Profile',  { action: :destroy, id: current_user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'All Teachers', teachers_path %>
  <%= link_to 'All Lessons', lessons_path %>
</footer>
