<h1>Post a review of your lesson</h1>
<%# TODO: STYLE BETTER %>
<%= form_for @review do |f| %>

  <%= f.collection_select :booking_id, current_user.instruments, :id, :time %>
  <%= f.label :rating %>
  <%= f.number_field :rating%>

  <%= f.label :review %>
  <%= f.text_area :review%>

  <%= f.submit%>
<% end %>
