<h1>Your review</h1>

<h2>Lesson:</h2>
<%= @review.lesson.instrument.name %>
<%= @review.teacher.name %>
<div>Rating: <%= @review.rating %></div>
<div>Review: <%= @review.description %></div>

<% if session[:logged_in_student_id] %>
  <%= link_to 'Back to my profile', student_path(current_user) %>
<% end %>

<% if session[:logged_in_teacher_id] %>
  <%= link_to 'Back to my profile', teacher_path(current_user) %>
<% end %>
