<!DOCTYPE html>
<html>
  <head>
    <title>MusicGuroo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MusicGuroo</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <% if logged_in? %>
              <%= button_to "Logout", logout_path, method: :delete %>
            <% else %>
              <li><a href="/students/new"><span class="glyphicon glyphicon-user"></span> Sign up to become a Student</a></li>

              <li><a href="/teachers/new"><span class="glyphicon glyphicon-user"></span> Sign up to become a Guroo </a></li>

              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
            <% end %>
          </a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <% if logged_in? %>
      <hr>
      <footer><p><%= link_to "My Profile", current_user %><p></footer>
    <% end %>
  </body>
</html>
